



/* header */

#mytimes {

        font-family: Verdana, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: MediumAquamarine;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 2rem;

      }

nav
  span {color: white; }



/* main container*/

.main {
        display: flex;
       


}
