body


header    {


            display: flex;
            font-family: verdana; sans-serif;
            font-size: 14px;
            font-weight: bold;
            align-items: center;
            border-bottom: 1px solid black; 


          }


.logo       {


              display: flex;
              color: MediumAquamarine;
              align-items: center;

            }

nav span    {
              display: inline-block;


}
